<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENTINEL Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="dashboard-grid">
        <div id="left-column">
            {% include 'video_feed.html' %}
            {% include 'g_force.html' %}
        </div>

        <div id="right-column">
            {% include 'summary_statistics.html' %}
            {% include 'telemetry.html' %}
            {% include 'event_log.html' %}
            {% include 'historical_data.html' %}
        </div>
    </div>

    {% include 'defect_details_modal.html' %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <audio id="pothole-audio-alert" src="{{ url_for('static', filename='audio/alert.mp3') }}" preload="auto"></audio>
</body>
</html>